.social-icons li img {
    width:70px;
    height:70px;
    margin-right: 20px;
}

.my_photo {
    margin-left: -10%;
    width: 340px;
    height: auto;
    border-radius: 100%;
    border-style: solid;
    border-color: tomato
}


@media screen and (max-width: 600px) {
    .my_photo {
        margin-left: -8%;
        width: 200px;
        height: auto;
    }
}