{% extends "base.html" %}

{% block content %}
    <div style="margin-top: 50px; " class="text_wow">
           <img class="my_photo" src="/static/img/j3tOJg5kyG4.jpg" align="left"
                vspace="5" hspace="5">
            Привет! Меня зовут Маша, но можешь называть меня M@X@_progy =)<br>
            Я начинающий программист.<br>
            Данный сайт был написан для конкурса "Мой выбор - моё будущее: Цифровое будущее России", 8 смена детского центра "Орлёнок".<br>
            Цель сайта очень простая - рассказать кратко и доступно про основные этапы Великой Отечественной войны.<br>
            А также предоставить материалы для самостоятельного обучения в этой теме. Если вам понравилось, то пишите мне! Я буду очень счастлива =)
    </div>
    <div style="margin-top: 50px" class="d-flex col-md d-flex align-items-center justify-content-center">
        <ul class="social-icons">
            <li><a href="https://github.com/MariaZyryanova72"><img src='/static/img/Github.png' /></a></li>
            <li><a href="https://www.instagram.com/__z.maria__/"><img src='/static/img/Instagram.png' /></a></li>
        </ul>
    </div>



{% endblock %}
