{% extends "base.html" %}

{% block content %}
    <div class="main_img_battle" style="background-image: url({{ battle.preview_img }});"></div>
    <div class="autor_name-title">{{ battle.title }}</div>

    <div class="title_battle">Коротко о главном<br>----</div>
    <div class="text_battle">
        {{ battle.text }}
    </div>
    <div class="title_battle">Интересные статьи<br>----</div>
    {% set articles = [battle.articles_img_1, battle.articles_img_2,
        battle.articles_img_3, battle.articles_img_4, battle.articles_img_5] %}
    {% set articles_a = [battle.articles_1, battle.articles_2,
        battle.articles_3, battle.articles_4, battle.articles_5] %}
    {% set articles_img = [battle.text_img_1, battle.text_img_2, battle.text_img_3,
        battle.text_img_4, battle.text_img_5, battle.text_img_6, battle.text_img_7] %}

        <div class="d-flex align-items-center">
                <div class="carousel-item active">
                    {% for i in range(articles|length ) %}
                    {% if articles[i] %}
                        <div>
                            <a href="{{ articles_a[i] }}"
                               style="background-image:url({{ articles_img[i] }}); "
                               class="img_wow col-12 col-md d-flex align-items-center justify-content-center">
                                <span class="img_text">{{ articles[i] }}</span>
                            </a>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    </div>


{% endblock %}
